<!-- search bar -->
<div class="container search-bar">
  <form action="/search">
    <div class="col-md-10 col-12 mx-auto mt-4">
      <div class="row row-cols-3 px-3">

        <div>
          <div class="input-group">
            <a href="/restaurants/new" class="btn btn-major" id="create-button">新增餐廳</a>
            <input type="text" name="keyword" class="form-control" placeholder="搜尋餐廳、分類" aria-label="Restaurant Name..."
              value="{{keyword}}" aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>

        <div>
        </div>

        <div>
          <select class="form-select" aria-label="Default select example" name="sort" onchange="this.form.submit()">
            <option value="" {{#unless sort}} disabled {{/unless}} selected>選擇排序方式</option>
            <option value="-_id" {{#is sort "-_id" }} selected {{/is}}>最新</option>
            <option value="_id" {{#is sort "_id" }} selected {{/is}}>最舊</option>
            <option value="-rating" {{#is sort "-rating" }} selected {{/is}}>評分高➡低</option>
            <option value="rating" {{#is sort "rating" }} selected {{/is}}>評分低➡高</option>
            <option value="name_en" {{#is sort "name_en" }} selected {{/is}}>A-Z</option>
            <option value="-name_en" {{#is sort "-name_en" }} selected {{/is}}>Z-A</option>
          </select>
        </div>

      </div>
    </div>
  </form>
  <!-- restaurant list -->
  <div id="restaurant-panel" class="container mt-4">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        {{#unless restaurants}}
        <div class="d-flex flex-column align-items-center mt-5">
          <i class="fas fa-exclamation-circle fa-5x text-danger "></i>
          <h4 class="text-secondary mt-4">找不到餐廳!</h4>
        </div>
        {{/unless}}
        <div class="row row-cols-sm-3">
          {{#each restaurants}}
          <div class="mb-3">
            <div class="card mb-1">
              <a href="/restaurants/{{ this._id }}" class="text-secondary">
                <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name_en }}">
              </a>
              <div class="card-body ">
                <a href="/restaurants/{{ this._id }}" class="text-secondary">
                  <h6 class="card-title">{{ this.name }}</h6>
                </a>

                <div class="restaurant-category">
                  <i class="fas fa-utensils pr-2"></i> {{ this.category }}
                </div>

                <span class="badge bg-warning">
                  {{ this.rating }}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>

              <div class="card-footer text-muted">
                <div class="d-flex justify-content-end my-1">
                  <span>
                    <a class="badge bg-success button" href="./restaurants/{{ this._id }}/edit"> Edit </a>
                    <a class="badge bg-success button" href="./restaurants/{{ this._id }}"> Detail </a>
                    <button type="button" class="badge bg-danger button delete-btn" data-id="{{ this._id }}"
                      data-name="{{ this.name }}">Delete
                    </button>
                  </span>
                </div>
              </div>

            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>